{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Flight Radar</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
          type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<div id="map" class="map"></div>
<div id="info" style="background-color: lightblue">&nbsp;</div>
<script>
var style = new ol.style.Style({
	fill: new ol.style.Fill({
		color: 'rgba(255, 255, 255, 0.1)'
	}),
	stroke: new ol.style.Stroke({
		color: '#319FD3',
		width: 1
	}),
	text: new ol.style.Text({
		font: '12px Calibri,sans-serif',
		fill: new ol.style.Fill({
			color: '#000'
		}),
		stroke: new ol.style.Stroke({
			color: '#fff',
			width: 3
		})
	})
});

var vectorLayer = new ol.layer.Vector({
	source: new ol.source.Vector({
		url: "{% static "countries.json" %}",
		format: new ol.format.GeoJSON()
	}),
	style: function (feature) {
		style.getText().setText(feature.get('name'));
		return style;
	}
});

var vectorLayerFlights = new ol.layer.Vector({
	source: new ol.source.Vector({
		url: "/flightmap/flightdata",
		format: new ol.format.GeoJSON()
	}),
	style: function (feature) {
		style.getText().setText(feature.get('name'));
		return style;
	}
});

var map = new ol.Map({
	layers: [
		new ol.layer.Tile({
			source: new ol.source.OSM()
		}),
		vectorLayer,
		vectorLayerFlights
	],
	target: 'map',
	view: new ol.View({
		center: [1629025, 5795149],
		zoom: 7,
		minZoom: 7
	})
});

var featureOverlay = new ol.layer.Vector({
	source: new ol.source.Vector(),
	map: map
});

var displayFeatureInfo = function (pixel) {

	var feature = map.forEachFeatureAtPixel(pixel, function (feature) {
		return feature;
	});
	var info = document.getElementById('info');
	if (feature) {
		info.innerHTML = 'Object Name: ' + feature.getId() + (!!feature.get('altitude') ? ('  Height ' + feature.get('altitude')) : '') + (!!feature.get('velocity') ? ('  Speed ' + feature.get('velocity')) : '');
	} else {
		info.innerHTML = ' ';
	}
};

map.on('pointermove', function (evt) {
	if (evt.dragging) {
		return;
	}
	var pixel = map.getEventPixel(evt.originalEvent);
	displayFeatureInfo(pixel);
});

window.vectorLayerFlights = vectorLayerFlights;
setInterval(function () {
	$.ajax("/flightmap/flightdata").then(function (response) {
		window.vectorLayerFlights.getSource().clear(true);
		geoJsonFormat = new ol.format.GeoJSON();
		var features = geoJsonFormat.readFeatures(response, {
			dataProjection: 'EPSG:4326',
			featureProjection: 'EPSG:3857'
		});
		window.vectorLayerFlights.getSource().addFeatures(features);
	});
}, 11000);
</script>
</body>
</html>